.root {
    -fx-background-color: #ffffff;
    -fx-font-family: "Inter", sans-serif;
    -fx-font-size: 14px;
}

#header {
    -fx-background-color: #0000FF;
    -fx-background-radius: 0px;
}

.h1 {
    -fx-font-size: 40px;
    -fx-font-weight: 700;
}

.h2 {
    -fx-font-size: 30px;
    -fx-font-weight: 700;
}

.h3 {
    -fx-font-size: 25px;
    -fx-font-weight: 700;
}

.h4 {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.p {
    -fx-font-size: 14px;
}

.opacity-80 {
    -fx-opacity: 0.8;
}

.opacity-50 {
    -fx-opacity: 0.5;
}

.bold {
    -fx-font-weight: 700;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1px 0;
    -fx-pref-width: 340px;
    -fx-padding: 5px 16px;
    /*-fx-border-radius: 7px;*/
    -fx-border-style: none hidden solid none;
}

.date-picker {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 ;
    -fx-border-style: none ;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 5px 16px;
}

.button {
    -fx-background-color: #000000;
    -fx-background-radius: 7px;
    -fx-text-fill: #ffffff;
    -fx-padding: 10px 17px;
    -fx-graphic-text-gap: 10px;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 7;
    -fx-cursor: hand;
    -fx-text-fill: black;
}


.list-cell:filled:selected {
    -fx-text-fill: black;
    /*-fx-font-weight: 700;*/
}

.history-list {
    -fx-border-style: none none none solid;
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: #000000;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}
